/*Styling for inputs*/

.input-group {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 25px;
}

 .input-group .field-label {
 	float: left;
 	width: 100%;
 	padding: 5px 0px;
 	font-weight: 600;
 	margin-bottom: 5px;
 }


 .input-group .mat_input_field {
 	border-bottom: 1px solid #ccc;
 	float: left;
 	width: 100%;
 	padding: 5px;
 	height:30px;
 	background: none;
 }


 .input-group label.error {
 	float: left;
 	width: 100%;
 	padding: 5px 0px;
 	font-weight: 400;
 	color: red;
 }



 /*Padded Layout Styling - Icon to right of input*/
 .pad-left {
	float: left;
	width: 100%;
	position: relative;
	padding-left: 50px;
}

.pad-left .fixed-left-element {
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:30px;
	text-align: center;
	border-bottom: 1px solid #777;
	padding:5px 0px;
	
}


.pad-left .fluid-right-element {
	
}






/*Main subscribe module styling*/

.input-group .input-icon {
	float: none;
	display: block;
	margin:0 auto;
	width: 25px;
	height: 25px;
	background: #b00000;
}



.subscribe-mod {
	border-top:1px solid #333;
	background: #f7f7f7;
}



